@import "variables";

@mixin subtitles-properties {

    margin: $main-margin;
    font-weight: $bold;
}

@mixin form-label-properties {
    display: flex;
    align-items: flex-start;
}

@mixin form-input-properties {
    margin: $main-margin;
    height: 25px;
}

@mixin form-button-properties($color) {
    margin: 15px 0px;
    padding: 15px 40px;
    background-color: $color;
    color: white;
    font-size: 1.4em;
    border: none;
    border-radius: 5px;
    width: 250px;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background-color: darken($color, 10%);
    }

    &:active {
        background-color: lighten($color, 10%);
        transform: $transform;
    }
}

@mixin book-properties {
    margin: 10px;
    padding: 10px;
    background-color: #e8e8e8;
    border: solid;
    border-radius: 3px;
    border-color: #8f8f8f;
    border-width: 2px;
    height: auto;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;

    @media (min-width: $mini-tablet-min-width) {
        width: 320px;
    }

    @media (min-width: $tablet-min-width) {
        width: 390px;
    }

    @media (min-width: $desktop-min-width) {
        width: 500px;
    }
}