@import "variables";
@import "mixins";

body {
    margin: 0px;
    padding: 0px 20px;
    background-color: white;
    font-family: 'Manrope', sans-serif;
    color: black;
    text-align: center;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    @media (min-width: 996px) {}
}

.title {
    margin: 30px 0px;
    padding: 20px;
    background-color: #ededed;
    color: #686868;
    border-radius: 2px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0.3, 0, 0.3);

    @media (min-width: 996px) {}
}

#myBooks {
    #search {
        .h2 {
            @include subtitles-properties;

            @media (min-width: 996px) {}
        }

        #add_book_button {
            @include form-button-properties($main-color);

            @media (min-width: 996px) {}
        }

        form {
            display: grid;

            #title-label {
                @include form-label-properties;

                @media (min-width: 996px) {}
            }

            #title-input {
                @include form-input-properties;

                @media (min-width: 996px) {}
            }

            #author-label {
                @include form-label-properties;

                @media (min-width: 996px) {}
            }

            #author-input {
                @include form-input-properties;

                @media (min-width: 996px) {}
            }

            #search_button {
                @include form-button-properties($main-color);

                @media (min-width: 996px) {}
            }

            #cancel_button {
                @include form-button-properties(#ff0000);

                @media (min-width: 996px) {}
            }

            @media (min-width: 996px) {}
        }

        @media (min-width: 996px) {}
    }

    hr {
        margin: $main-margin;
        height: 2.5px;
        background-color: #686868;

        @media (min-width: 996px) {}
    }

    #content {
        h2 {
            @include subtitles-properties;

            @media (min-width: 996px) {}
        }

        .booklist-display {
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @media (min-width: 996px) {}

            .book {
                @include book-properties;

                @media (min-width: 996px) {}
            }

            .added-book {
                @include book-properties;

                @media (min-width: 996px) {}
            }

            .book-header {
                margin: 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                @media (min-width: 996px) {}

                .book-title {
                    margin: 0px;
                    font-size: $main-font-size;
                    font-weight: $bold;
                    width: 200px;

                    @media (min-width: 996px) {}
                }

                .book-button {
                    border: none;
                    background-color: transparent;
                    transition: $transition;
                    cursor: pointer;
                    font-size: 35px;

                    &:active {
                        transform: $transform;
                    }

                    @media (min-width: 996px) {}
                }
            }

            .book-id {
                font-size: $main-font-size;
                font-weight: $bold;
                font-style: italic;

                @media (min-width: 996px) {}
            }

            .book-author {
                font-size: $main-font-size;
                font-style: italic;

                @media (min-width: 996px) {}
            }

            .book-description {
                font-size: $main-font-size;

                @media (min-width: 996px) {}
            }

            .book-thumbnail {
                display: block;
                margin: auto;
                width: 200px;
                height: auto;

                @media (min-width: 996px) {}
            }

            @media (min-width: 996px) {}
        }

        @media (min-width: 996px) {}
    }

    @media (min-width: 996px) {}
}

.logo {
    margin: 0px;
    padding: 40px 0px 0px 0px;
    width: 140px;
    height: auto;

    @media (min-width: 996px) {}
}