@import "variables";
@import "mixins";

body {
    margin: $no-margin;
}

#myBooks {
    padding: 0px 20px;
    background-color: white;
    font-family: 'Manrope', sans-serif;
    color: black;
    text-align: center;

    .logo {
        margin: $no-margin;
        width: 200px;
        height: auto;
    }

    .title {
        margin: 0px 0px 30px;
        padding: 20px;
        background-color: #ededed;
        color: #686868;
        border-radius: 2px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0.3, 0, 0.3);
    }

    .h2 {
        @include subtitles-properties;
    }

    #content {
        h2 {
            @include subtitles-properties;
        }
    }

    #search {
        #add_book_button {
            @include button-properties($main-color);
        }

        form {
            display: flex;
            flex-direction: column;

            label {
                display: flex;
                align-items: start;
            }

            input[type=text] {
                margin: 20px 0px;
                height: 25px
            }

            #search_button {
                @include button-properties($main-color);
            }

            #cancel_button {
                @include button-properties(#ff0000);
            }
        }
    }

    hr {
        margin: 20px 0px;
        height: 2.5px;
        background-color: #686868;
    }
}